.container
    text-align center
.lottery
  margin-top 130px

.number
  padding 20px
.btn-number
  @extend .btn-danger 
  width 100px
  height 100px
  font-size 70px
  line-height 88px
  
  
.result
    font-size 50px
    margin-top 100px
    visibility hidden
    letter-spacing 5px
    //animation-duration 5s

.lottery-result
      color #a9171b
      font-weight bold
      letter-spacing 10px
      animation-iteration-count 2
      &:hover
        text-decoration none
        color #a9171b

.btn-block,
.btn-danger
    font-size 20px
    font-weight bold
    padding 10px  30px
    margin-left 15%
    width 70%